.mapGrid {
  display: grid;
  grid-template-columns: repeat(75, 1fr);
  grid-template-rows: repeat(60, 1fr);
}

.cityInfoPanel {
  background-color: rgba(255, 255, 0, 0.6);
  border: 1px solid black;
  padding: 10px;
  z-index: 1000;
  font-size: 14px;
  width: 10rem;
}

.cityArea {
  background-color: rgba(255, 0, 0, 0.3);
  transition: background-color 0.3s;
  border: 2px solid red;
  font-size: 12px;
}

.cityArea:hover {
  background-color: transparent;
  color: transparent;
  border: none;
}

.cityArea:hover .cityInfoPanel {
  display: block !important;
  cursor: pointer;
}
